doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../../pug_include/head_pc

        script(data-src='draft.min.js?t='+tt)


    body


        div(class='left')
            //- include ../../pug_include/left
            b-win-left

        div(class='right')
            //- include ../../pug_include/top
            //b-win-top

            div(class='iframe scroll_style1' id='iframe_body')
                div(class='page_body')
                    //- 页面主体开始。。。。。。

                    //- 列表部分
                    div(class='index_list')
                        b-table-list(id='table_list')


                        b-pagination(id='table_pagination')





