meta(charset="UTF-8")
meta(name="format-detection" content="telephone=no")
meta(name="msapplication-tap-highlight" content="no")
meta(name="viewport" content="width=device-width,user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
meta(http-equiv="x-xss-protection" content="1;mode=block")
meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
meta(http-equiv="Pragma" content="no-cache")
meta(http-equiv="Expires" content="0")
meta(http-equiv="Cache" content="no-cache")
meta(http-equiv="X-UA-Compatible" content="IE=8")

//-meta(http-equiv="Content-Security-Policy" content="" +
//-"           object-src 'none';" +
//-"           script-src * 'unsafe-eval' 'unsafe-inline';" +
//-"           img-src data: *;" +
//-"           style-src 'self' 'unsafe-inline';" +
//-"           font-src 'self';" +
//-"           media-src 'self';" +
//-"           frame-src 'self';"
//-)



link(rel="stylesheet" type="text/css" href="../res/css/all1.css?t=" + tt)
link(rel="stylesheet" type="text/css" href="../res/css/common.css?t=" + tt)
link(rel="stylesheet" type="text/css" href="../res/css/phone.css?t=" + tt)


//- script(src="js/polyfill.js?t=" + tt)
script(src="../res/js/jquery-3.1.1.min.js?t=" + tt)
script(src="../res/js/setting.js?t=" + tt)
script(src="../res/js/common.min.js?t=1?t=" + tt)
script(src="../res/js/sign_page_init.min.js?t=" + tt)
