doctype html
html
    head
        title 档案入库
        include ./../../pug_include/head_pc

        script(data-src='o_add.min.js?t='+tt)
        style.
            body, html {
                overflow: auto;
            }

    body

        div(class='openWin_main' style='width:500px;min-width:100%;max-width:100%;')
            div(class='openWin_input_main box_hlt box_lines' id='form')
                div(class='openWin_input_item1')
                    b-input-date(type='date' id='createTime' name='归档时间' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input-search(name='关联订单号' rule='must' id='orderNo' err='输入的数据格式有误')
                div(class='openWin_input_item1')
                    b-input(type='text' name='客户姓名' rule='must' id='name' err='订单号不正确未能找到客户姓名' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input(type='select' name='档案室' rule='must' err='输入的数据格式有误' data-bind='archivesList' id='archiveRoom')
                div(class='openWin_input_item1')
                    b-input(type='text' name='位置标签' id='addressTag' err='输入的数据格式有误' rule='must')
                div(class='openWin_input_item1')
                    b-input-file(type='file' rule='must' err='输入的数据格式有误' name='上传照片' id='attachUrls')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 入库




