doctype html
html
    head
        title 档案详情
        include ./../../pug_include/head_pc

        script(data-src='o_info.min.js?t='+tt)
        style.
            body, html {
                overflow: auto;
            }

    body

        div(class='openWin_main' style='width:500px;min-width:100%;max-width:100%;')
            div(class='openWin_input_main box_hlt box_lines' id='from')
                div(class='openWin_input_item1')
                    b-input-date(type='date' id='createTime' name='归档时间' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input(type='text' name='关联订单号' id='orderNo' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input(type='text' name='客户姓名' id='name' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input(type='text' name='档案室' id='archiveRoom' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input(type='text' name='位置标签' id='addressTag' disabled='disabled')
                div(class='openWin_input_item1')
                    b-input-file(type='file' name='上传照片' id='file')

                div(class='openWin_input_item1')
                    div(class='installment_mortgage_repayment_line')
                    br
                    br
                    div(class='file_info box_hlt')
                        p 长三长三
                        span 2011-11-11
                        div(class='boxflex1 breakall') 阿斯顿发就啊空间的反馈撒地方看见阿克索德阿斯顿发撒地方撒地方撒发放的身份
                    div(class='file_info box_hlt')
                        p 长三长三
                        span 2011-11-11
                        div(class='boxflex1 breakall') 阿斯顿发就啊空间的反馈撒地方看见阿克索德阿斯顿发撒地方撒地方撒发放的身份
                    div(class='file_info box_hlt')
                        p 长三长三
                        span 2011-11-11
                        div(class='boxflex1 breakall') 阿斯顿发就啊空间的反馈撒地方看见阿克索德阿斯顿发撒地方撒地方撒发放的身份



        div(class='openWin_btns box_hcc')
            div(class='openWin_btn_blue box_hcc hover' id='submit') 关闭




