doctype html
html
    head
        title 还款确认
        include ./../../pug_include/head_pc

        script(data-src='o_warrant_pay_back.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main' id='form')
            b-order-info(id='order_info')
            b-title(name='历史流程')
            b-order-history(id='history' showOne='true' sort='desc')

            b-title(name='确认还款')
            div(class='openWin_input_main box_hlt box_lines')
                div(class='openWin_input_item3')
                    b-input-money(id='orderRepaymentRecordInfo_repaymentPrincipal' name='还款本金' accuracy='5' rule='must' err='不能为空' unit='元')
                div(class='openWin_input_item3')
                    b-input-money(id='orderRepaymentRecordInfo_repaymentInterest' name='还款利息' accuracy='5' rule='must' err='不能为空' unit='元')
                div(class='openWin_input_item3')
                    b-input-money(id='orderRepaymentRecordInfo_repaymentPenaltyInterest' name='罚息' accuracy='5' rule='must' err='不能为空' unit='元')
                div(class='openWin_input_item1')
                    div(class='box_hlc warrant_pay_back')
                        div 还款合计
                        //- 还款合计=还款本金+还款利息+罚息
                        p(id='total') 0.00000
                div(class='openWin_input_item1')
                    b-input(id='auditOpinion' type='textarea' autoHeight='true' name='备注' placeholder='非必填')
                div(class='openWin_input_item1')
                    b-input-file(id='attachUrls' type='file' err='' name='附件' unit='非必填' )


            b-title(name='尾款' id='final_payment')
            div(id='final_payment_body')





            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交


        //克隆部分
        div(class='hidden')
            div(class='openWin_input_main box_hlt box_lines' id='final_payment_item')
                div(class='openWin_input_item3')
                    b-input(id='orderRefundInfo_refundBankNo' type='text' name='转回账号')
                div(class='openWin_input_item3')
                    b-input(id='orderRefundInfo_refundBankName' type='text' name='转回户名')
                div(class='openWin_input_item3')
                    //TODO
                    b-input-money(id='todo' name='尾款金额' accuracy='5' rule='must' err='不能为空' unit='元')