doctype html
html
    head
        title 下户
        include ./../../pug_include/head_pc

        script(data-src='o_warrant_mdf_room.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main' id='form')
            b-order-info(id='order_info')
            b-title(name='历史流程')
            b-order-history(id='history' showOne='true' sort='desc')



            b-title(name='房屋现状' id='roomState')
            div(id='roomState_body')


            b-title(name='下户')
            div(id='shimoto_body')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item1')
                        b-input(type='textarea' autoHeight='true' placeholder='非必填' name='备注' id='auditOpinion')
                    div(class='openWin_input_item1')
                        b-input-file(type='file' err='' name='附件' unit='非必填' id='attachUrls')




            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交



        div(class='hidden')
            div(id='room_info_item')
                b-title1(name='')
                div(class='openWin_input_main box_hlt box_lines' group='orderMortgageExtendHouseList')
                    div(class='openWin_input_item3')
                        b-input-money(key='age' accuracy='0' xs='0'  err='不能为空' rule='must' name='房龄' unit='年')
                    div(class='openWin_input_item3')
                        b-input(key='direct' type='select' err='不能为空' data-bind='houseOrientation' rule='must' name='朝向')
                    div(class='openWin_input_item3')
                        b-input(key='decoration' type='select' err='不能为空' data-bind='decorationState' rule='must' name='装修情况')
                    div(class='openWin_input_item3')
                        b-input(key='useCase' type='select' err='不能为空' data-bind='houseUseState' rule='must' name='使用情况')
                    div(class='openWin_input_item3')
                        b-input(key='elevator' type='select' err='不能为空' data-bind='hasElevator' rule='must' name='有无电梯')
                    div(class='openWin_input_item3')
                        b-input(key='floor' type='text' err='不能为空' rule='must' name='总楼层')
