


.openWin_main{
    min-width: 100%;
}




/*客户*/
.client_top{
    padding:30px 0;
    background: #282537;
}
.client_bottom{
    padding:30px;
    padding-bottom: 100px;
    min-height: 400px;
}
.logo_text{
    display: block; width: 228px; height: 59px;
}
.logo{
    display: block; width: 90px; height: 90px;
    margin-bottom: 20px;
}


.client_title{
    font-size: 20px; text-align: center;
    padding-bottom: 20px;
    padding-top:20px;
}
.client_info{
    font-size: 14px; text-indent: 2em;
    line-height: 22px;
    padding-bottom: 40px;
}
.client_btn{
    width: 60%; height: 40px; background: #282537;
    color: #fffddc; font-size: 16px; border-radius: 5px;
}
.info_ok{
    font-size: 30px; color: #333;
    padding:40px 0;
}
.info_text{
    font-size: 16px; color: #333; text-align: center;
}


.mobile_logo{
    position: fixed; left:0; top:0;
    width: 100%; height: 60px; background-color:#1d203d;
    color: #ffcc1e; padding-left:50px;
    background-image: url(../image/logo.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}
.mobile_logo_{
    width: 100%; height: 60px;
}

.fullScreen{width: 100%; height: 100%;}


.mobile_index_logo_img{
    display: block; width:60px; height: 60px;
    margin-bottom: 20px;
}
.mobile_index_logo_text{
    width: 100%; text-align: center; color: #ffce1c; font-size: 22px;
}

.mobile_list_item{
    padding:10px 20px;
    font-size: 14px;
    background: #efefef;
    margin-top: 10px;
}
.mobile_list_row{
    width: 100%; height: 30px; line-height: 30px;
}
.mobile_list_row_left{
    width: 55%; height: 30px;
}
.mobile_list_row_right{
    width: 45%; height: 30px;
}
.mobile_list_row span{
    color: #aaa;
}

