doctype html
html
    head
        title 新增贷后支出
        include ./../../pug_include/head_pc

        script(data-src='o_add_after_loan.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main autoWidth')
            div
                b-title(name='贷后支出')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item1')
                        b-input-money(err='' name='支出金额' id='key1' accuracy='5' unit='元')
                    div(class='openWin_input_item1')
                        b-input(type='textarea' autoHeight='true' err='' name='还款账号' id='key1')
                    div(class='openWin_input_item1')
                        b-input-file(type='file' err='' name='附件' id='key1')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover') 取消
                div(class='openWin_btn_blue box_hcc hover') 提交
