doctype html
html
    head
        //- 带历史记录 带驳回
        title 核销
        include ./../../pug_include/head_pc

        script(data-src='o_write_off.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main autoWidth')
            br
            br
            b-order-info(id='order_info' class='b_order_info')

            b-title(name='历史流程')
            b-order-history(id='history' showOne='true' sort='desc')

            br
            div(id='form')
                b-title(name='核销')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item3')
                        b-input-money(id='remainInterest' name='剩余本金' disabled='disabled' accuracy='5')
                    div(class='openWin_input_item3')
                        b-input-money(id='remainPrincipal' name='剩余利息' disabled='disabled' accuracy='5')
                    div(class='openWin_input_item3')
                        b-input-money(id='disburseMoney' name='贷后支出' disabled='disabled' accuracy='5')
                    div(class='openWin_input_item3')
                        b-input-money(id='heXiaoInterest' name='核销利息' accuracy='5' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input-money(id='heXiaoPrincipal' name='核销本金' accuracy='5' rule='must' err='不能为空')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item3 warrant_pay_back box_hlc')
                        div 核销后损益
                        p(id='sy') 0.00000

                    div(class='openWin_input_item1')
                        b-input(type='textarea' name='备注' id='auditOpinion' placeholder='非必填')
                    div(class='openWin_input_item1')
                        b-input-file(name='附件' id='attachUrls' type='file' unit='非必填')



            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_red box_hcc hover' id='back') 驳回
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
