doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="css/index.css")
        script(data-src='js/dist/index.min.js?t='+tt)


    body



        b-table-list







