//- --------- 公共页面 审核 ------------------------
//自己传title名字过来


doctype html
html
    head
        title
        include ./../../pug_include/head_pc

        script(data-src='review.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')
            b-order-info(id='order_info')
            b-title(name='历史流程')
            b-order-history(id='history' showOne='true' sort='desc')

            b-title(name='' id='btitle')
            div(class='openWin_input_main box_hlt box_lines' id='form')
                div(class='openWin_input_item1')
                    b-input(type='textarea' id='auditOpinion' autoHeight='true' name='意见' placeholder='非必填')
                div(class='openWin_input_item1')
                    b-input-file(class='__input_file__' type='file' id='attachUrls' unit='非必填' name='附件')




            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_red box_hcc hover' id='back') 驳回
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
