doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="index.css?t="+tt)
        script(data-src='index.min.js?t='+tt)


    body


        div(class='left')
            include ../../pug_include/left

        div(class='right')
            include ../../pug_include/top

            div(class='iframe scroll_style1' id='iframe_body')
                div(class='page_body')

                    div(style='width:100%;height:300px;')
                    b-input-search(id='search' name='搜索')






