


.notice{
  padding:0 20px;
  height: 50px;
  background: #fff;
}
.notice img{
  display: block;
  width: 24px;
  height: 20px;
  margin-right: 10px;
}
.notice p{
  font-size: 14px; color: #000000; font-weight: bold;
}

.notice_main{
  position: relative;
  overflow: hidden;
  height: 50px;
}
.notice_scroller{
  position: absolute;
  left:0; top:0;
  height: 50px;
}
.notice_scroller span{
  padding:0 20px;
  font-size: 12px;
}

.b-search{
  width: 100%; display: block; height: 52px;
}

.search_main{
  padding-bottom: 20px;
  background: url(./image/index_bg.jpeg) no-repeat center center;
  background-size: 100% 100%;
}
.search_total{
  padding:20px 0 10px 5px;
}
.search_total .search_name{
  font-size: 16px;
  color: rgb(83,87,90);
  font-weight: bold;
}
.search_total .search_main_number{
  font-size: 30px;
  color: rgb(225,61,63);
  font-weight: bold;
  line-height: 30px;
}
.show_ph{
  font-size: 14px;
  width: 120px;
  height: 40px;
  color: rgb(83,87,90);
  background: #fff;
  margin-left: 40px;
  border-radius: 5px;
}
.show_ph img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.add_order{
  width: 120px; height: 40px;
  font-size: 14px;
  color: rgb(83,87,90);
  background: #fff;
  border-radius: 5px;
  margin-left: 20px;
}
.add_order img{
  width: 24px;
  height: 22px;
  margin-right: 10px;
}


.search{
  width: 100%;
}
//.search input{
//  display: block; height: 50px; line-height: 50px;
//  background: #fff; border:1px solid #ccc;
//  border-right:none;
//  border-radius: 5px 0 0 5px;
//  padding:0 10px;
//}
//.search_btn{
//  width:70px; height: 50px;
//  background-color: #5376f0;
//  border-radius: 0 5px 5px 0;
//  background-image: url(./image/search.png);
//  background-repeat: no-repeat;
//  background-position: center center;
//  background-size: 24px 24px;
//}