doctype html
html
    head
        title 金盾时代-综合业务系统
        include ./../../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="o_add_order_info.css?t="+tt)
        script(data-src='o_add_order_info.min.js?t='+tt)



    body

        div(class='openWin_main')

            b-order-info(id='test' class='b_order_info')





