doctype html
html
    head
        title 历史流程
        include ./../../pug_include/head

        script(data-src='history_info.min.js?t='+tt)

        style.
            html,body{overflow: auto;background: #fff;}

    body

        div(class='mobile_logo') 金盾时贷
        div(class='mobile_logo_')
        div(class='box_slt' id='body' style='background:#fff;')
            br

            b-order-history1(id='history' sort='desc' style='display:block;width:100%;')

        div(class='openWin_btns box_hcc' id='info_btn')
            div(class='openWin_btn_gray box_hcc hover' id='close') 关闭