doctype html
html
    head
        title 订单详情
        include ./../../pug_include/head

        script(data-src='info.min.js?t='+tt)

        style.
            html,body{overflow: auto;background: #fff;}

    body

        div(class='mobile_logo') 金盾时贷
        div(class='mobile_logo_')
        div(class='box_slt' id='body' style='background:#fff;')
            div(class='mobile_list_item box_slt' id='item')
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 姓名：
                        a
                    p(class='mobile_list_row_right')
                        span 电话：
                        a
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 业务：
                        a
                    p(class='mobile_list_row_right')
                        span 金额：
                        a
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 状态：
                        a
                    p(class='mobile_list_row_right')
                        span 时间：
                        a

            div(class='mobile_btns box_hcc')
                p(id='info') 订单详情
                p(id='history') 历史流程
                a(id='tel' href='tel:12312312312') 联系客户



