doctype html
html
    head
        title 订单详情
        include ./../../pug_include/head

        script(data-src='info.min.js?t='+tt)

        style.
            html,body{overflow: auto;background: #fff;}
            .openWin_btn_gray,
            .openWin_btn_blue{
                width:40%; margin: 0 5%;
            }

    body

        div(class='mobile_logo') 金盾时贷
        div(class='mobile_logo_')
        div(class='box_slt' id='body' style='background:#fff;')
            div(class='mobile_list_item box_slt' id='item')
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 姓名：
                        a
                    p(class='mobile_list_row_right')
                        span 电话：
                        a
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 业务：
                        a
                    p(class='mobile_list_row_right')
                        span 金额：
                        a
                div(class='mobile_list_row box_hlt')
                    p(class='mobile_list_row_left')
                        span 状态：
                        a
                    p(class='mobile_list_row_right')
                        span 时间：
                        a

            div(class='mobile_btns box_hcc')
                p(id='info') 订单详情
                p(id='history') 历史流程
                a(id='tel' href='tel:12312312312') 联系客户



        div(id='warran' class='hidden')
            div(class='openWin_input_main box_hlt box_lines' id='form')
                div(class='openWin_input_item1')
                    b-input(type='textarea' id='auditOpinion' autoHeight='true' name='意见' placeholder='非必填')
                div(class='openWin_input_item1')
                    b-input-file(class='__input_file__' type='file' id='attachUrls' unit='非必填' name='附件')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 关闭
                div(class='openWin_btn_blue box_hcc hover' id='submit') 保存
