doctype html
html
    head
        title 我的业务
        include ./../../pug_include/head

        script(data-src='list.min.js?t='+tt)

        style.
            html,body{overflow: auto;background: #fff;}

    body

        div(class='mobile_logo') 金盾时贷
        div(class='mobile_logo_')
        div(class='box_slt' id='body' style='background:#fff;')

        b-push-load

        div(class='mobile_list_item box_slt hidden' id='item')
            div(class='mobile_list_row box_hlc')
                p(class='mobile_list_row_left box_hcc')
                    span 姓名：
                    a(class='boxflex1') 张三
                p(class='mobile_list_row_right box_hcc')
                    span 电话：
                    a(class='boxflex1') 12312312312
            div(class='mobile_list_row box_hlc')
                p(class='mobile_list_row_left box_hcc')
                    span 业务：
                    a(class='boxflex1') 房抵
                p(class='mobile_list_row_right box_hcc')
                    span 金额：
                    a(class='boxflex1') 70.00万
            div(class='mobile_list_row box_hlc')
                p(class='mobile_list_row_left box_hcc')
                    span 状态：
                    a(class='boxflex1') 待抵押
                p(class='mobile_list_row_right box_hcc')
                    span 时间：
                    a(class='boxflex1') 2011-11-11





