doctype html
html
    head
        title 员工信息
        include ./../../pug_include/head_pc

        script(data-src='o_add_staff.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')

            div
                div(class='openWin_input_main box_hlt box_lines' id='form')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='姓名' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='电话' id='' rule='must,phone' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' name='性别' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='紧急联系人' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='紧急电话' id='' rule='must,phone' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' name='性别' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input-date(type='date' name='入职日期' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='入职次数' id='' rule='must,number' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='所属公司' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' name='所属部门' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' name='拥有角色' id='' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' name='最高学历' id='' rule='must' err='不能为空')



            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
