doctype html
html
    head
        title 通知信息
        include ./../../pug_include/head_pc

        script(data-src='o_add_notice.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main' style='min-width:600px;')

            div
                div(class='openWin_input_main box_hlt box_lines' id='form')
                    div(class='openWin_input_item1')
                        b-input-date(type='date' id='createTime' name='时间' rule='must' err='请选择时间')
                    div(class='openWin_input_item1')
                        b-input(type='text' name='标题' id='broadTitle' rule='must' err='输入的数据格式有误')
                    div(class='openWin_input_item1')
                        b-input(type='textarea' id='broadContent' name='公告内容' err='输入的数据格式有误' autoHeight='true' rule='must')
                    div(class='openWin_input_item1')
                        b-input-file(type='text' id='attachUrls' name='上传照片' fileType='image' err='只能上传图片')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
