doctype html
html
    head
        title 员工信息
        include ./../../pug_include/head_pc

        script(data-src='o_add_staff.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')
            //TODO 差紧急联系人、角色、最高学历 id
            div
                div(class='openWin_input_main box_hlt box_lines' id='form')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='姓名' id='userName' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='电话' id='mobile' rule='must,phone' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='gender' name='性别' id='sex' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='紧急联系人' id='urgentName' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='紧急电话' id='urgentMobile' rule='must,phone' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='gender' name='性别' id='urgentGender' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input-date(type='date' name='入职日期' id='inductionTime' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='text' name='入职次数' id='inductionCount' rule='must,number' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='company' name='所属公司' data-child='deptId' id='companyId' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='department' name='所属部门' id='deptId' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='role' name='拥有角色' id='roleId' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input(type='select' data-bind='education' name='最高学历' id='xlId' rule='must' err='不能为空')



            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
