doctype html
html
    head
        title 财务管理
        include ./../../pug_include/head_pc

        script(data-src='finance.min.js?t='+tt)


    body


        //div(class='left')
            //- include ../../pug_include/left
            b-win-left

        //div(class='right')
            //- include ../../pug_include/top
            //b-win-top

        div(class='iframe scroll_style1' id='iframe_body')
            div(class='page_body')
                //- 页面主体开始。。。。。。

                //搜索部分
                b-search(
                    id='b_search'
                    showMoreBtn='true'
                )

                //- 列表部分
                div(class='index_list')


                    //加style： div滚动,现在浏览器滚动
                    // style='width: 100%;overflow: auto; display: block;'
                    b-table-list(id='table_list' min-width='1920')


                    b-pagination(id='table_pagination')





