doctype html
html
    head
        title 垫资回款
        include ./../../pug_include/head_pc

        script(data-src='o_advance_payment.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')

            b-order-info(id='order_info' class='b_order_info')
            b-title(name='历史流程')
            b-order-history(id='history' sort='desc' showOne='true')

            div(id='form')
                b-title(name='垫资回款')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item3')
                        b-input-money(id='serviceFee' accuracy='2' disabled='disabled' name='服务费')
                    div(class='openWin_input_item3')
                        b-input-money(id='consultationFee' accuracy='2' disabled='disabled' name='咨询费')
                    div(class='openWin_input_item3')
                        b-input-money(id='warrantFee' accuracy='2' disabled='disabled' name='权证费')
                    div(class='openWin_input_item3')
                        b-input-money(id='preferentialFee' accuracy='2' disabled='disabled' name='优惠费')
                    div(class='openWin_input_item3')
                        b-input-money(id='postPositionlFee' accuracy='2' disabled='disabled' name='后置费')
                    div(class='openWin_input_item3')
                        b-input-money(id='totalCost' accuracy='2' disabled='disabled' name='费用合计')
                    div(class='openWin_input_item3')
                        b-input-money(id='returnPrincipal' type='text' accuracy='2' name='回款本金' unit='元' rule='must' err='不能为空')
                    div(class='openWin_input_item3')
                        b-input-money(id='sybj' type='text' accuracy='2' disabled='disabled' name='剩余本金')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item3')
                        b-input(id='bankName' type='text' name='户名'  disabled='disabled')
                    div(class='openWin_input_item3')
                        b-input(id='bankNo' type='text' name='账号'  disabled='disabled')

                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item1')
                        b-input(id='auditOpinion' type='textarea' name='备注' autoHeight='true' placeholder='非必填')
                    div(class='openWin_input_item1')
                        b-input-file(id='attachUrls' type='file' name='附件' unit='非必填')




            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
