doctype html
html
    head
        title 记账
        include ./../../pug_include/head_pc

        script(data-src='o_bookkeeping.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')

            b-order-info(id='order_info' class='b_order_info')
            b-title(name='历史流程')
            b-order-history(id='history' sort='desc' showOne='true')

            div
                b-title(name='记账')
                div(class='openWin_input_main box_hlt box_lines' id='form')
                    div(class='openWin_input_item3')
                        b-input-money(id='brokerageFee' accuracy='5' disabled='disabled' name='居间费')
                    div(class='openWin_input_item3')
                        b-input-money(id='serviceFee' accuracy='5' disabled='disabled' name='服务费')
                    div(class='openWin_input_item3')
                        b-input-money(id='consultationFee' accuracy='5' disabled='disabled' name='咨询费')
                    div(class='openWin_input_item3')
                        b-input-money(id='warrantFee' accuracy='5' disabled='disabled' name='权证费')
                    div(class='openWin_input_item3')
                        b-input-money(id='preferentialFee' accuracy='5' disabled='disabled' name='优惠费')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item3')
                        b-input-money(id='totalCost' accuracy='5' disabled='disabled' name='费用合计')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item3')
                        b-input-money(id='financeBusinessFee' accuracy='5' disabled='disabled' name='缴纳金额')
                    div(class='openWin_input_item3')
                        b-input-money(id='waitSupPaymentFee' accuracy='5' disabled='disabled' name='待补缴费用')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item1')
                        b-input(id='auditOpinion' type='textarea' name='备注' autoHeight='true' placeholder='非必填')
                    div(class='openWin_input_item1')
                        b-input-file(id='attachUrls' type='file' name='附件' unit='非必填')





            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
