doctype html
html
	head
		title 房抵分期待还尾款
		include ./../../pug_include/head_pc

		script(data-src='o_last_installment_mortgage_repayment.min.js?t='+tt)
		style.
			body,html{overflow:auto;}


	body

		div(class='openWin_main' id='form')
			div(class='openWin_input_main box_hlt box_lines')
				div(class='openWin_input_item2')
					b-input-money(id='repaymentPrincipal' accuracy='2' disabled='disabled' name='应还本金' unit='元')
				div(class='openWin_input_item2')
					b-input-money(id='repaymentInterest' accuracy='2' disabled='disabled' name='应还罚息' unit='元')
				div(class='openWin_input_item2 installment_mortgage_repayment box_hlc' )
					div 应还合计
					p(id='total')
					span 元

				div(class='installment_mortgage_repayment_line')

			div(class='openWin_input_main box_hlt box_lines' id='submitForm')
				div(class='openWin_input_item2')
					b-input-money(id='actualRepaymentFee' accuracy='2' name='实还金额' rule='must' err='输入的数据格式有误' unit='元')
				div(class='openWin_input_item1')
					b-input(id='auditOpinion' type='textarea' name='备注' autoHeight='true' placeholder='非必填')
				div(class='openWin_input_item1')
					b-input-file(id='attachUrls' type='file' name='附件' unit='非必填')




			div(class='openWin_btns box_hcc')
				div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
