doctype html
html
    head
        title 退费用
        include ./../../pug_include/head_pc

        script(data-src='o_Refund1.min.js?t='+tt)
        style.
            body,html{overflow:auto;}


    body

        div(class='openWin_main')

            b-order-info(id='order_info' class='b_order_info')
            b-title(name='历史流程')
            b-order-history(id='history' sort='desc' showOne='true')

            div(id='form')
                b-title(name='退款')
                div(class='openWin_input_main box_hlt box_lines')
                    div(class='openWin_input_item3')
                        b-input-money(id='refundMoney' name='退费金额' disabled='disabled' accuracy='5' unit='元')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item3')
                    div(class='openWin_input_item1')
                        b-input(id='auditOpinion_' type='textarea' disabled='disabled' name='备注' autoHeight='true')
                    div(class='openWin_input_item1')
                        b-input-file(id='attachUrls_' type='file' disabled='disabled' name='附件' unit='非必填')

                div(class='openWin_input_main box_hlt box_lines' id='submitForm')
                    div(class='openWin_input_item1')
                        b-input(id='auditOpinion' type='textarea' name='备注' autoHeight='true' placeholder='非必填')
                    div(class='openWin_input_item1')
                        b-input-file(id='attachUrls' type='file' name='附件' unit='非必填')



            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_gray box_hcc hover' id='cancel') 取消
                div(class='openWin_btn_blue box_hcc hover' id='submit') 提交
