doctype html
html
    head
        title 业务流程时间配置
        include ./../../pug_include/head_pc

        script(data-src='businessTime.min.js?t='+tt)


    body


        div(class='left')
            //- include ../../pug_include/left
            b-win-left

        div(class='right')
            //- include ../../pug_include/top
            //b-win-top

            div(class='iframe scroll_style1' id='iframe_body' style='background:#fff;')
                div(class='page_body' style='overflow:auto;')
                    //- 页面主体开始。。。。。。

                    b-title(name='房抵业务时限配置')
                    div(class='openWin_input_main box_hlt box_lines')
                        div(class='openWin_input_item3')
                            b-group-switch(name='审核' id='group1')
                        div(class='openWin_input_item3')
                            b-group-switch(name='权证' id='group2')
                        div(class='openWin_input_item3')
                            b-group-switch(name='财务' id='group3')


                    b-title(name='垫资业务时限配置')
                    div(class='openWin_input_main box_hlt box_lines')
                        div(class='openWin_input_item3')
                            b-group-switch(name='审核' id='group4')
                        div(class='openWin_input_item3')
                            b-group-switch(name='权证' id='group5')
                        div(class='openWin_input_item3')
                            b-group-switch(name='财务' id='group6')


                    b-title(name='退款退费时限配置')
                    div(class='openWin_input_main box_hlt box_lines')
                        div(class='openWin_input_item3')
                            b-group-switch(name='执行' id='group4')
                        div(class='openWin_input_item3')
                            b-group-switch(name='财务' id='group5')
                        div(class='openWin_input_item3')


                    b-title(name='贷后时限配置')
                    div(class='openWin_input_main box_hlt box_lines')
                        div(class='openWin_input_item3')
                            b-group-switch(name='审核' id='group4')
                        div(class='openWin_input_item3')
                            b-group-switch(name='财务' id='group5')
                        div(class='openWin_input_item3')






