doctype html
html
    head
        title 添加产品
        include ./../../pug_include/head_pc

        script(data-src='o_add_product.min.js?t='+tt)
        style.
            html,body{overflow: auto;}

    body

        div(class='openWin_main' style='width:500px;min-width:100%;max-width:100%;')
            div(class='openWin_input_main box_hlt box_lines' id='form')
                div(class='openWin_input_item1')
                    b-input(type='text' err='输入的数据格式有误' rule='must' name='产品名称' id='productName')
                div(class='openWin_input_item1')
                    b-input(type='select' name='产品类型' id='productType')
                div(class='openWin_input_item1')
                    b-input-money(accuracy='2' err='输入的数据格式有误' rule='must' name='最小额度' unit='元' id='minMoney')
                div(class='openWin_input_item1')
                    b-input-money(accuracy='2' name='最大额度' unit='元' err='输入的数据格式有误' rule='must' id='maxMoney')
                div(class='openWin_input_item1')
                    b-input(type='text' name='可用天数' unit='天' err='请你输入正整数' rule='must,number' id='applyTime')
                div(class='openWin_input_item1')
                    b-input-money(accuracy='5' name='成本费率' unit='%' err='输入的数据格式有误' rule='must' id='castRate' xs='5')
                div(class='openWin_input_item1')
                    b-input-money(accuracy='2' name='成本服务费' unit='元' err='输入的数据格式有误' rule='must' id='castServiceRate')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 确认




