doctype html
html
    head
        title 添加通道
        include ./../../pug_include/head_pc

        script(data-src='o_add_channel.min.js?t='+tt)
        style.
            html,body{overflow: auto;}

    body

        div(class='openWin_main' style='width:500px;min-width:100%;max-width:100%;')
            div(class='openWin_input_main box_hlt box_lines' id='form')
                div(class='openWin_input_item1')
                    b-input(type='text' id='text' err='输入的数据格式有误' rule='must' name='渠道名')
                //div(class='openWin_input_item1')
                    //b-input-money(accuracy='2' id='value' err='输入的数据格式有误' rule='must' name='通道费' unit='元')


            div(class='openWin_btns box_hcc')
                div(class='openWin_btn_blue box_hcc hover' id='submit') 确认




