doctype html
html
    head
        title 金盾时代
        include ./../../pug_include/head

        script(data-src='form.min.js?t='+tt)
        style.
            html,body{
                overflow: auto;
                background: #fffddc;
            }
    body

        div(class='box_sct')
            div(class='box_sct client_top' style='width:100%;')
                //TODO
                img(src='')
                img(class='logo_text' src='../res/image/logo_text.png')
            div(class='box_sct client_bottom openWin_main')
                div(id='form' style='padding-top:20px;')
                    b-input(id='userName' type='text' name='姓名' placeholder='请输入您的姓名' rule='must' err='请输入您的姓名')
                    b-input(id='phone' type='tel' name='联系电话' placeholder='请输入您联系电话' rule='must' err='请输入您联系电话')
                    b-input(id='money' unit='万元' type='tel' name='期望额度' placeholder='请输入您的期望额度' rule='must' err='请输入您的期望额度')

                br
                br
                br
                div(class='client_btn box_scc' id='submit' style='margin:0 auto;') 立即申请





