doctype html
html
    head
        title 金盾时代
        include ./../../pug_include/head

        script(data-src='index.min.js?t='+tt)
        style.
            html,body{
                overflow: auto;
                background: #fffddc;
            }

    body

        div(class='box_scc')
            div(class='box_sct client_top')
                img(class='logo' src='../res/image/logo.png')
                img(class='logo_text' src='../res/image/logo_text.png')
            div(class='box_sct client_bottom')
                div(class='client_title') 用户须知
                    //TODO
                div(class='client_info') 用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容用户须知内容
                div(class='client_btn box_scc' id='submit') 我已知晓，开始贷款





